@model TestViewModel

<h3>This DOESN'T have data- attributes</h3>
@Html.LabelFor(m => m.DateOfBirth)
@(Html.Kendo().DatePickerFor(m => m.DateOfBirth).Deferred())

<br />

<h3>This DOES have data- attributes</h3>
@Html.LabelFor(m => m.AnotherDate)
@Html.EditorFor(m => m.AnotherDate)




