################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentValidationPartialTest/.vs
/FluentValidationPartialTest/FluentValidationPartialTest.Web/bin
/FluentValidationPartialTest/FluentValidationPartialTest.Web/obj
